/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

hr.styleDotted {
  border-top: 1px dotted #8c8b8b;
  border-bottom: 1px dotted #fff; }

body {
  font-family: "Ibm Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-iteration-count: 3; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.work--heading {
  font-size: 3rem;
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-weight: 900; }

.work--links {
  font-family: 'IBM Plex Sans', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-size: 1.8rem;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.work--grid {
  display: grid;
  grid-template-columns: [sidebar-primary] 300px [main-content] 1fr [sidebar-secondary] 200px;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  width: 90vw; }
  @media only screen and (min-width: 112.5em) {
    .work--grid {
      grid-template-columns: [sidebar-primary] 30rem [main-content] 120rem [sidebar-secondary] 20rem; } }
  @media only screen and (max-width: 75em) {
    .work--grid {
      width: 100%;
      grid-template-columns: [sidebar-primary] 200px [main-content] 3fr;
      grid-gap: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .work--grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-gap: 0; } }
  .work--grid > * {
    padding: 4rem; }

.sidebar--primary {
  grid-column: sidebar-primary;
  color: #2CAAFF; }
  .sidebar--primary a.pageActive {
    background-color: rgba(44, 170, 255, 0.2); }
  .sidebar--primary ul a.active {
    background-color: black;
    color: #fff; }
  .sidebar--primary ol a.active {
    background-color: #db0a5b;
    color: #fff; }
  .sidebar--primary--link {
    text-decoration: none;
    color: currentColor; }
  @media only screen and (max-width: 75em) {
    .sidebar--primary {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 24rem 1fr; } }
  @media only screen and (max-width: 43.75em) {
    .sidebar--primary {
      display: block;
      grid-row: 1;
      border-bottom: 2px solid currentColor; } }
  .sidebar--primary--heading {
    border-bottom: 1px solid currentColor;
    padding-bottom: 1rem; }
    @media only screen and (max-width: 43.75em) {
      .sidebar--primary--heading {
        text-align: center;
        border-bottom: 0; } }
  .sidebar--primary--list {
    list-style: none;
    padding: 2rem 2rem 2rem 0; }
    @media only screen and (max-width: 43.75em) {
      .sidebar--primary--list {
        padding: 2rem 0; } }
  @media only screen and (max-width: 43.75em) {
    .sidebar--primary ul > li {
      display: inline-block;
      width: 23%;
      text-align: center; } }
  @media only screen and (max-width: 75em) {
    .sidebar--primary .main--nav--onTab {
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 4rem 4rem 4rem 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .sidebar--primary .main--nav--onTab {
      padding: 0; } }
  .sidebar--primary .side--nav--onTab {
    grid-column: 1/2;
    grid-row: 2/3;
    color: black;
    display: none; }
    @media only screen and (max-width: 75em) {
      .sidebar--primary .side--nav--onTab {
        display: block; } }
    @media only screen and (max-width: 43.75em) {
      .sidebar--primary .side--nav--onTab {
        display: none; } }

.sidebar--secondary {
  grid-column: sidebar-secondary; }
  .sidebar--secondary a.active {
    background-color: black;
    color: #fff; }
  @media only screen and (max-width: 75em) {
    .sidebar--secondary {
      display: none; } }
  .sidebar--secondary--heading {
    border-bottom: 1px solid currentColor;
    padding-bottom: 1rem; }
  .sidebar--secondary--list {
    list-style: none;
    padding: 2rem 2rem 2rem 0; }
    .sidebar--secondary--list a {
      text-decoration: none;
      color: black; }

.main {
  grid-column: main-content / sidebar-secondary;
  grid-row: 1; }
  @media only screen and (max-width: 75em) {
    .main {
      margin-left: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .main {
      grid-row: 2;
      margin-left: 0; } }
  .main--heading {
    border-bottom: 1px solid currentColor;
    padding-bottom: 1rem; }
  .main--content {
    padding: 2rem 0 2rem 0; }

nav.sidebar--secondary div {
  position: fixed; }
  @media only screen and (max-width: 43.75em) {
    nav.sidebar--secondary div {
      position: relative; } }

nav.sidebar--primary div {
  position: fixed; }
  @media only screen and (max-width: 43.75em) {
    nav.sidebar--primary div {
      position: relative; } }

.p--work--grid {
  display: grid;
  grid-template-columns: [sidebar-primary] 300px [main-content] 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  max-width: 150rem; }
  @media only screen and (min-width: 112.5em) {
    .p--work--grid {
      grid-template-columns: [sidebar-primary] 30rem [main-content] 120rem;
      max-width: 150rem; } }
  @media only screen and (max-width: 75em) {
    .p--work--grid {
      width: 100%;
      grid-template-columns: [sidebar-primary] 200px [main-content] 3fr;
      grid-gap: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .p--work--grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-gap: 0; } }
  .p--work--grid > * {
    padding: 4rem; }

.project {
  padding: 10rem 10rem; }
  @media only screen and (max-width: 75em) {
    .project {
      padding: 5rem; } }
  @media only screen and (max-width: 43.75em) {
    .project {
      padding: 3rem; } }

.gray {
  background-color: #f7f7f7; }

.sub-heading {
  font-weight: lighter; }

.project--description {
  display: grid;
  grid-gap: 10rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 1fr; }
  @media only screen and (max-width: 75em) {
    .project--description {
      grid-template-columns: 1fr;
      justify-items: center;
      grid-gap: 5rem; } }
  @media only screen and (max-width: 43.75em) {
    .project--description {
      grid-gap: 2rem; } }
  .project--description img {
    justify-self: center;
    align-self: center; }
    @media only screen and (max-width: 75em) {
      .project--description img {
        justify-self: center; } }
  .project--description a {
    font-size: 2rem;
    color: black;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(180deg, transparent 65%, #db0a5b 0) no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease; }
  .project--description a:hover {
    background-size: 100% 100%;
    font-weight: 600; }

.project--list {
  list-style: none; }

.project--text {
  display: grid;
  grid-template-rows: max-content auto max-content;
  height: 100%; }
  .project--text h2 {
    align-self: start;
    padding-bottom: 1rem; }

.intro--text {
  max-width: 80%; }
  @media only screen and (max-width: 75em) {
    .intro--text {
      max-width: 100%; } }

.p--sidebar--primary {
  grid-column: sidebar-primary;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24rem 1fr; }
  @media only screen and (max-width: 43.75em) {
    .p--sidebar--primary {
      display: block;
      grid-row: 1;
      border-bottom: 2px solid currentColor; } }
  .p--sidebar--primary .p--main--nav--onTab {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 4rem 4rem 4rem 4rem; }
    @media only screen and (max-width: 43.75em) {
      .p--sidebar--primary .p--main--nav--onTab {
        padding: 0; } }
  .p--sidebar--primary .p--side--nav--onTab {
    grid-column: 1/2;
    grid-row: 2/3;
    color: black;
    display: block; }
    @media only screen and (max-width: 43.75em) {
      .p--sidebar--primary .p--side--nav--onTab {
        display: none; } }
